@model Infortechms.Gerenciamento.AppMvc.ViewModels.ConsumoCombustivelViewModel

@{
    ViewBag.Title = "Correr";
}

<h1>Correr</h1>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Deseja Correr? Lembre-se que seu combustivel chegará a 0 e você estará em um posto.</h4>
    <hr />
    @Html.Partial("_ErrorSummary")
    @Html.HiddenFor(model => model.id)

    <div class="form-group">
        @Html.LabelFor(model => model.NumeroSerie, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumeroSerie, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumeroSerie, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CapacidadeCombustivel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CapacidadeCombustivel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CapacidadeCombustivel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CombustivelAtual, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.CombustivelAtual, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CombustivelAtual, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Correr" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar a Lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#CombustivelAtual').attr("data-val-number", "Litros em formato invalido");
        $('#NumeroSerie').prop('readonly', 'readonly')
        $('#Nome').prop('readonly', 'readonly')
        $('#CapacidadeCombustivel').prop('readonly', 'readonly')
        $('#CombustivelAtual').prop('readonly', 'readonly')
    </script>

}
